# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
.vitepress/dist/
.vitepress/cache/

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
